*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
   
}

@media screen and (max-width:500px) {
    .container{
        width: 100%;
        height: 100%;
        background-color: hsl(0, 0%, 70%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .display{
        color: white;
        width: 100%;
        height: 50%;
        font-size: 30px;
        font-weight: 700;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .screen{
        width: 100%;
        height: 50%;
        background-color: hsl(0, 0%, 20%);
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;

    }
    input{
        align-self: flex-end;
        width: 100%;
        height: 60px;
        font-size: 30px;
        background-color: hsl(0, 0%, 20%);
        color: white;
        text-align: end;
        padding: 8px;
        border: none;
    }
  

    .buttons{
        width: 100%;
        height: 50%;
        display: flex;
     justify-content: center;
     align-items: center;
        background-color:hsl(178, 54%, 27%);
        gap: 5px;
        padding: 5px;
        flex-direction: column;
       
    }
   button{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    background-color: hsl(188, 85%, 35%);
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   }
   .item{
    display: flex;
    width: 100%;
    height: 40%;
    gap: 15px;
    align-items: center;
    justify-content: center;


   }
   
    
}
